<h1><%= @student.to_s %></h1>
<<<<<<< HEAD
<p><%= link_to @active, activate_student_path(@student.id) %></p>
=======
<p><%= link_to @active, activate_student_path(@student.id) %></p>
>>>>>>> 90bec4f8793c8c1fcda186d4331a8f8d82d476f3
